<ul class="chartButtons">
    <li id="saasTrial"><a class="active" href="javascript:;">Saas</a></li>
    <li id="demo"><a href="javascript:;">Demo</a></li>
    <li id="countrysaasTrial"><a href="javascript:;">ByCountry / Saas</a></li>
    <li id="countrydemo"><a href="javascript:;">ByCountry / Demo</a></li>
</ul>
<ul class="filterTypeButtons">
    <li id="login"><a href="javascript:;">Login</a></li>
    <!--<li id="session"><a href="javascript:;">Session</a></li>-->
    <li id="register"><a class="active" href="javascript:;">By registration</a></li>
</ul>